body{
    background-color: bisque;
    margin-top: 20px auto;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    border: 10px;
}
h1{
    font-size: 50px;
    color: chocolate;
}
p{
    font-size: 20px;
}
